@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

:root {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --background-color: #f8f0e6;
  --primary-text-color: #36454f;
  --header-color: #8b4513;
  --link-button-color: #b7410e;
  --accent-color: #daa520;
  --secondary-background-color: #fffdd0;
  --secondary-accent-color: #556b2f;
  --tertiary-accent-color: #808000;
}

body {
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-color);
}

.section {
  background-color: var(--secondary-background-color);
}

.accent {
  color: var(--secondary-accent-color);
}

.secondary-accent {
  color: var(--tertiary-accent-color);
}

.accordion-title {
  font-size: 16px; /* Adjust as needed */

  @media (min-width: 640px) {
    font-size: 18px; /* Adjust as needed for larger screens */
  }
}
